STRING_SESSION = "AQCdxFYLDdF9JBi9JYXhinNumJ30u3LN8d3noocw-sJb2JxOaGwlUh44AGEprdzGihegj3iSjzzex6RZpE7octLuJicRSPmopvGVWcKB6jL326-Yko4cvoBcTDXkKQAdzShlKiUgC5taF0FmcJSZxETw5A3jZA5mKIoQrO9B0_BpmdC_5DYZhM5Pmst-fCuBw88glhwwlJl6c190GsIexXhrVS-Az2PXj4jtIsl404dSU2D1vb5hWMjOuFUjbBIdP4t8bX00LkQxc_rw9V8PlwiB9t-c9_ijyjmZYKSKB2kZOkmKcEIvV-ycQRzgmFjM9PwiwGMX-Y2dUNZv9AGpBoabflzPswA" # A pyrogram String Session

BOT_TOKEN= "5088178318:AAEuT5DFtjKg2gN_G76sQl0AEXl0CXSPgKQ" Get a token from @botFather

API_ID= "15766469" Get this value from https://my.telegram.org

API_HASH= "9bbb9dad6f994c368a441f895ea7dce1" Get this value from https://my.telegram.org

SUDO_USERS = "2134019120" # For multiple Users Use Space

DURATION_LIMIT= "60" # In Mins (EX :- 60)

MONGO_DB_URI = "mongodb+srv://Utkarsh123:Utkarsh123@cluster0.i82d6.mongodb.net/myFirstDatabase?retryWrites=true&w=majority" # Mongo DB URL

LOG_GROUP_ID = "-1001709575030" # Chat id of a group, not channel

MUSIC_BOT_NAME = "🕊️⃝🦋𝙎𝙊𝙐𝙈𝙄𝙏𝘼 𝙓 𝙐𝙏𝙆𝘼𝙍𝙎𝙃🕊️⃝🦋" # Name for your music bot

OWNER_ID = "2134019120" Owner id

SUPPORT_CHANNEL = "https://t.me/about_papa" # Support Channel Link if you have any, Leave blank if no support. Your link must start with https://t.me/

SUPPORT_GROUP = "https://t.me/Friends_forever_143" #Support Group Link if you have any, Leave blank if no support. Your link must start with https://t.me/

ASSISTANT_PREFIX = "." #Prefix for Assistant Commands.
